################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComplexNetworks/Debug
/Debug
/.vs/ComplexNetworksFall2018/v15
/.vs
